@font-face {
   font-family: 'parksonpersonaluse-demibold';
   font-display: swap;
   src: url('file:///E:/BKP%20DELL/Mairon/Sites/Fitness%20School/FitnessSchool%20v19/fonts/parksonpersonaluse-demibold/font.ttf');
}
